<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mall.mapper.CommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mall.pojo.Comment">
        <id column="id" property="id" />
        <result column="topic_id" property="topicId" />
        <result column="topic_type" property="topicType" />
        <result column="content" property="content" />
        <result column="from_uid" property="fromUid" />
        <result column="to_uid" property="toUid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, topic_id, topic_type, content, from_uid, to_uid
    </sql>

</mapper>
